@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');   
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');   
.wrap {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
 
    .left{
        background-color: red;
        position: relative;
        z-index: 10;
        width: 10vw;
        height: 100vh;
        .top {
            display: flex;
            flex-direction: column;
            text-align: center;
            p{
                margin-bottom: 1rem;
                color: black;
                text-decoration: none;
                cursor: pointer;
        }
        }
    }

    .IconRight{
        width: 8%;
    }

    .right {
        background-color: white;
        width: 80%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        .card{
            width: 29.333%;
            margin: 2%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: top;
            height: 250px;
            transition: .5s;
            border-radius: .3rem;
            cursor: pointer;
            &:hover {
                transform: scale(1.1);
            }
            .material-icons{
                margin-right: 0;
                font-size: 100px;
            }
            img{
                width: 20%;
            }
            p{
                font-size: 12px;
                color: #A8A8A8;
                text-align: center;
                font: normal normal normal 9px/10px Arial;
                letter-spacing: 0px;
                text-shadow: 0px 3px 6px #00000029;
                text-transform: uppercase;
                width: 80%;
            }
            h2{
                text-align: left;
                font: normal normal bold 22px/26px Arial;
                letter-spacing: 0px;
                text-transform: uppercase;
            }
        }
        .activeCard {
            transform: scale(1.1);
            z-index: 300;
        }
        .yellow {
            background-color: #e5ae2f30;
            color: #FEDC63;
            h2{
                color: #E5AF2F;
            }
            span {
                color: #E5AF2F;
            }
        }
        .green {
            background-color: #AEDCB7;
            color: #76A27F;
            font-family: 'Montserrat', sans-serif;
        }
        .purple {
            background-color:#dab6c238;
            color: #DAB6C2; 
            h2 {
                color: #6A3A4F;
                span {
                    color: #6A3A4F;
                }
            }
        }
        .orange {
            background-color:#ff95001c;
            color: gray;
            img {
                width: 32%;
            }
            span {
                color:  #FF9300; 
            }
            h2 {
                color:  #FF9300;   
            }
        }
        .blue {
            background-color: #3a56a32a;
            color: #3A56A3; 
            ; 
            img{
                width: 35%;
            }
           
        }
        .greenLight {
            background-color: #D4E496;
            color: #347760;
            img{
                width: 35%;
            }
            h2 {
                color:   #7BBC88; 
            }
        }
    }
    .scrollBar {
        background-color: green;    
        top: 0;
        width: 200px;
        z-index: 9; 
        position: absolute;
        margin-left: 9vw;
        opacity: 0;
        transition: all .6s ease;
        max-height: 100vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
          }
    }
    .active {
        margin-left: 9.8vw;
        opacity: 1;
        transition: all 0.6s ease;
    }
}
.vert {
    color: #D4E496!important;
}

.orange {
    color: orange!important;
}
.rose {
    color: #dab6c2!important;
}
.bleu {
    color: #3A56A3!important;
}
.jaune {
    color: #e5ae2f!important;
}


// @media screen and (max-width: 1000px){
//     .wrap .right .card {
//     width: 43%;
//     margin-bottom: 2rem;
//     }
//     .wrap .right {
//        overflow: auto;
//     }
// }
// @media screen and (max-width: 800px){
//     .wrap .right {
//         padding: 0 1rem;
//     }
//     .wrap .right .card {
//         width: 99%;
//         margin-bottom: 2rem;
//         height: 40%;
//         }    
       
//    #main {
//     padding: 16px;
//     margin-left: 40px;
//     transition: margin-left 0.5s;
//    }
// }

// @media screen and (max-width: 450px){
//     .openSide {
//         width: 100%!important;
//     }
// }

